* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
  font-family: "Poppins", sans-serif;
}


body {
  width: 100vw;
  height: 100vh;
  background-color: #201d20;
  position: relative;
  overflow-x: hidden;
}
svg {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.first-svg {
  opacity: 0;
}
.second-svg {
  opacity: 0;
}
.third-svg {
  opacity: 0;
}




.container {
  height: 100vh;
  position:relative;
}
.container img {
  width: 100%;
  position: absolute;
  height: 110vh;
  object-fit: cover;
  z-index: -1;
}
.main-title {
  position: absolute;
  top: 40%;
  left: 53%;
  font-size: 8rem;
  transform: translate(-50%, -30%);
  /* text-align:center; */
}

.volcano__button{
  position:absolute;
  top:70%;
  left:50%;
  transform: translateX(-50%);
  padding:0.625rem 1rem;
  border-radius: 0.625rem;
  outline:none;
  border:none;
  background-color:orange;
  cursor:pointer;
  color:black;
  font-family: Poppins;
}


.content {
  width: 100%;
  background: rgb(0, 0, 0);
  min-height: 100vh;
  z-index: 2;
  position: absolute;
  /* padding-top:4rem; */
  display:flex;
  flex-flow:column;
  /* justify-content: center; */
  /* align-items: center; */
}

.content-images {
  display: flex;
  flex-flow:column;
  /* justify-content: space-around;
  align-items: center; */
  /* min-height: 60vh; */
  /* text-align: center; */
  /* gap:6rem; */
  /* margin-inline:5rem; */
}

.info{
  display:flex;
  flex-flow:column;
  justify-content:center;
  align-items:center;
  width:100%;
  margin-top:4rem;
  /* margin-left:5rem; */
  font-family:poppins;
}

.info__top{
  display:flex;
  flex-flow:column;
  align-items:center;
  width:60%;
  margin-bottom:4rem;
}

.info__top h2{
  font-size:3rem;
}

.info__top p{
  font-size:1.5rem;
  color:rgb(201, 201, 201);
  text-align:center;
}

.info__bottom{
  display:flex;
  flex-flow:column;
  /* align-items:center; */
  gap:2rem;
  width:60%;
}

.infoBottom__data{
  display:flex;
  align-items:center;
  gap:3rem;
}

.infoBottom__data img{
  width:12rem;
}

.infoBottom__data p{
  font-size:1.5rem;
  width:60%;
}

.info__bottom .forward{
  flex-flow:row;
  justify-content:start;
}

.info__bottom .backward{
  flex-flow:row-reverse;
  justify-content:end;
  gap:2rem;
}

.info__bottom .backward p{
  width:60% !important;
}



.text{
  /* margin-top:4rem; */
  display:flex;
  justify-content:center;
  align-items:center;
  flex-flow:column;
  min-height:100vh;
  margin-top:4rem;
}

.text__header{
  display:flex;
  flex-flow:column;
  align-items:center;
  width:50%;
  margin-bottom:3rem;
}

.text__header h2{
  font-size:3rem;
}

.text__header p{
  font-size:1.5rem;
  color:rgb(201, 201, 201);
  text-align:center;
}


/* CAROUSEL  */
.carousel{
  position:relative;
  height:60vh;
  width:60vw;
  margin:0 auto;
}

.chart {
  /* position: relative;
  display: flex;
  justify-content: center;
  align-items: center; */
  /* height: 50vh; */
  width: 100%;
  height:100%;
  /* object-fit:cover; */
  /* height:600px; */
  /* color:white; */
  /* z-index:100; */
  background-color:black;
}

.carousel__track-container{
  /* background:white; */
  /* padding:0.625rem; */
  height:100%;
  position:relative;
  overflow:hidden;
}

.carousel__track{
  padding:0;
  margin:0;
  list-style:none;
  /* position:relative;
  height:100%; */
  transition: transform 500ms ease-in-out;
}

.carousel__slide{
  position:absolute;
  top:0;
  bottom:0;
  width:100%;
}

.carousel__button{
  position:absolute;
  top: 50%;
  transform: translateY(-50%);
  background:transparent;
  border:0;
  cursor:pointer;
}

.carousel__button--left{
  left:-5rem; 
}

.carousel__button--right{
  right:-5rem; 
}

.carousel__nav{
  /* background: pink; */
  display:flex;
  justify-content:center;
  /* gap:2rem; */
  padding:0.625rem 0;
}
.carousel__indicator{
  border:0;
  border-radius: 50%;
  width:1rem;
  height:1rem;
  background:rgba(255,255,255,0.3);
  margin:0 0.75rem;
}

.carousel__indicator.current-slide{
  background:rgba(255,255,255,1);
}



.dead{
  /* margin-top:4rem; */
  display:flex;
  justify-content:center;
  align-items:center;
  flex-flow:column;
  min-height:100vh;
  margin-bottom:4rem;
}

.dead__header{
  display:flex;
  flex-flow:column;
  align-items:center;
  width:50%;
  margin-bottom:5rem;
}

.dead__header h2{
  font-size:3.5rem;
}

.dead__header p{
  font-size:2rem;
  color:rgb(201, 201, 201);
  text-align:center;
}

.dead__bottom{
  display:flex;
  flex-flow:row;
  justify-content:center;
  align-items:center;
  gap:3rem;
}

.deadBottom__left{
  width:35%;
}

.deadList{
  font-family:Poppins;
  font-size:1.25rem;
  line-height: 1.75;
}

.deadList__item--red{
  color:red;
}

.deadBottom__right{
  width:60%;
}

.deadBottom__right img{
  width:100%;
}


.ashen{
  /* margin-top:4rem; */
  display:flex;
  justify-content:center;
  align-items:center;
  flex-flow:column;
  min-height:100vh;
  margin-bottom:2rem;
}

.ashen__header{
  display:flex;
  flex-flow:column;
  align-items:center;
  width:50%;
  margin-bottom:5rem;
}

.ashen__header h2{
  font-size:3.5rem;
}

.ashen__header p{
  font-size:2rem;
  color:rgb(201, 201, 201);
  text-align:center;
}

.ashen__bottom{
  display:flex;
  flex-flow:column;
  gap:4.5rem;
  width:60%;
}

.ashenBottom__data{
  display:flex;
  align-items:center;
  gap:4rem;
}

.ashenBottom__data img{
  width:12rem;
}

.ashenBottom__data p{
  font-size:1.5rem;
  width:55%;
}

.ashen__bottom .forward{
  flex-flow:row;
  justify-content:start;
}

.ashen__bottom .backward{
  flex-flow:row-reverse;
  justify-content:end;
  gap:4rem !important;
  margin-top:-1.5rem;
}

.ashen__bottom .backward p{
  /* width:50% !important; */
}

.volc__footer{
  height:5.5rem;
  background-color:rgb(70, 70, 70);
  display:flex;
  justify-content:center;
}

.volcFooter__info{
  display:flex;
  flex-flow:row;
  justify-content:space-between;
  align-items:center;
  width:85%;
}

.volcFooter__info h3{
  font-size:1rem;
  font-family: Poppins;
  color:white;
}